# JSON examples and exercise
****
+ get familiar with packages for dealing with JSON
+ study examples with JSON strings and files 
+ work on exercise to be completed and submitted 
****
+ reference: http://pandas.pydata.org/pandas-docs/stable/io.html#io-json-reader
+ data source: http://jsonstudio.com/resources/
****

In [1]:
import pandas as pd
import numpy as np

## imports for Python, Pandas

In [2]:
import json
from pandas.io.json import json_normalize

## JSON example, with string

+ demonstrates creation of normalized dataframes (tables) from nested json string
+ source: http://pandas.pydata.org/pandas-docs/stable/io.html#normalization

In [3]:
# define json string
data = [{'state': 'Florida', 
         'shortname': 'FL',
         'info': {'governor': 'Rick Scott'},
         'counties': [{'name': 'Dade', 'population': 12345},
                      {'name': 'Broward', 'population': 40000},
                      {'name': 'Palm Beach', 'population': 60000}]},
        {'state': 'Ohio',
         'shortname': 'OH',
         'info': {'governor': 'John Kasich'},
         'counties': [{'name': 'Summit', 'population': 1234},
                      {'name': 'Cuyahoga', 'population': 1337}]}]

In [4]:
# use normalization to create tables from nested element
json_normalize(data, 'counties')

         name  population
0        Dade       12345
1     Broward       40000
2  Palm Beach       60000
3      Summit        1234
4    Cuyahoga        1337

In [5]:
# further populate tables created from nested element
json_normalize(data, 'counties', ['state', 'shortname', ['info', 'governor']])

         name  population    state shortname info.governor
0        Dade       12345  Florida        FL    Rick Scott
1     Broward       40000  Florida        FL    Rick Scott
2  Palm Beach       60000  Florida        FL    Rick Scott
3      Summit        1234     Ohio        OH   John Kasich
4    Cuyahoga        1337     Ohio        OH   John Kasich

****
## JSON example, with file

+ demonstrates reading in a json file as a string and as a table
+ uses small sample file containing data about projects funded by the World Bank 
+ data source: http://jsonstudio.com/resources/

In [6]:
# load json as string
json.load((open('data/world_bank_projects_less.json')))

[{'_id': {'$oid': '52b213b38594d8a2be17c780'},
  'approvalfy': 1999,
  'board_approval_month': 'November',
  'boardapprovaldate': '2013-11-12T00:00:00Z',
  'borrower': 'FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA',
  'closingdate': '2018-07-07T00:00:00Z',
  'country_namecode': 'Federal Democratic Republic of Ethiopia!$!ET',
  'countrycode': 'ET',
  'countryname': 'Federal Democratic Republic of Ethiopia',
  'countryshortname': 'Ethiopia',
  'docty': 'Project Information Document,Indigenous Peoples Plan,Project Information Document',
  'envassesmentcategorycode': 'C',
  'grantamt': 0,
  'ibrdcommamt': 0,
  'id': 'P129828',
  'idacommamt': 130000000,
  'impagency': 'MINISTRY OF EDUCATION',
  'lendinginstr': 'Investment Project Financing',
  'lendinginstrtype': 'IN',
  'lendprojectcost': 550000000,
  'majorsector_percent': [{'Name': 'Education', 'Percent': 46},
   {'Name': 'Education', 'Percent': 26},
   {'Name': 'Public Administration, Law, and Justice', 'Percent': 16},
   {'Name': 'Education', 'Percent': 12}],
  'mjsector_namecode': [{'code': 'EX', 'name': 'Education'},
   {'code': 'EX', 'name': 'Education'},
   {'code': 'BX', 'name': 'Public Administration, Law, and Justice'},
   {'code': 'EX', 'name': 'Education'}],
  'mjtheme': ['Human development'],
  'mjtheme_namecode': [{'code': '8', 'name': 'Human development'},
   {'code': '11', 'name': ''}],
  'mjthemecode': '8,11',
  'prodline': 'PE',
  'prodlinetext': 'IBRD/IDA',
  'productlinetype': 'L',
  'project_abstract': {'cdata': 'The development objective of the Second Phase of General Education Quality Improvement Project for Ethiopia is to improve learning conditions in primary and secondary schools and strengthen institutions at different levels of educational administration. The project has six components. The first component is curriculum, textbooks, assessment, examinations, and inspection. This component will support improvement of learning conditions in grades KG-12 by providing increased access to teaching and learning materials and through improvements to the curriculum by assessing the strengths and weaknesses of the current curriculum. This component has following four sub-components: (i) curriculum reform and implementation; (ii) teaching and learning materials; (iii) assessment and examinations; and (iv) inspection. The second component is teacher development program (TDP). This component will support improvements in learning conditions in both primary and secondary schools by advancing the quality of teaching in general education through: (a) enhancing the training of pre-service teachers in teacher education institutions; and (b) improving the quality of in-service teacher training. This component has following three sub-components: (i) pre-service teacher training; (ii) in-service teacher training; and (iii) licensing and relicensing of teachers and school leaders. The third component is school improvement plan. This component will support the strengthening of school planning in order to improve learning outcomes, and to partly fund the school improvement plans through school grants. It has following two sub-components: (i) school improvement plan; and (ii) school grants. The fourth component is management and capacity building, including education management information systems (EMIS). This component will support management and capacity building aspect of the project. This component has following three sub-components: (i) capacity building for education planning and management; (ii) capacity building for school planning and management; and (iii) EMIS. The fifth component is improving the quality of learning and teaching in secondary schools and universities through the use of information and communications technology (ICT). It has following five sub-components: (i) national policy and institution for ICT in general education; (ii) national ICT infrastructure improvement plan for general education; (iii) develop an integrated monitoring, evaluation, and learning system specifically for the ICT component; (iv) teacher professional development in the use of ICT; and (v) provision of limited number of e-Braille display readers with the possibility to scale up to all secondary education schools based on the successful implementation and usage of the readers. The sixth component is program coordination, monitoring and evaluation, and communication. It will support institutional strengthening by developing capacities in all aspects of program coordination, monitoring and evaluation; a new sub-component on communications will support information sharing for better management and accountability. It has following three sub-components: (i) program coordination; (ii) monitoring and evaluation (M and E); and (iii) communication.'},
  'project_name': 'Ethiopia General Education Quality Improvement Project II',
  'projectdocs': [{'DocDate': '28-AUG-2013',
    'DocType': 'PID',
    'DocTypeDesc': 'Project Information Document (PID),  Vol.',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=090224b081e545fb_1_0',
    'EntityID': '090224b081e545fb_1_0'},
   {'DocDate': '01-JUL-2013',
    'DocType': 'IP',
    'DocTypeDesc': 'Indigenous Peoples Plan (IP),  Vol.1 of 1',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000442464_20130920111729',
    'EntityID': '000442464_20130920111729'},
   {'DocDate': '22-NOV-2012',
    'DocType': 'PID',
    'DocTypeDesc': 'Project Information Document (PID),  Vol.',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=090224b0817b19e2_1_0',
    'EntityID': '090224b0817b19e2_1_0'}],
  'projectfinancialtype': 'IDA',
  'projectstatusdisplay': 'Active',
  'regionname': 'Africa',
  'sector': [{'Name': 'Primary education'},
   {'Name': 'Secondary education'},
   {'Name': 'Public administration- Other social services'},
   {'Name': 'Tertiary education'}],
  'sector1': {'Name': 'Primary education', 'Percent': 46},
  'sector2': {'Name': 'Secondary education', 'Percent': 26},
  'sector3': {'Name': 'Public administration- Other social services',
   'Percent': 16},
  'sector4': {'Name': 'Tertiary education', 'Percent': 12},
  'sector_namecode': [{'code': 'EP', 'name': 'Primary education'},
   {'code': 'ES', 'name': 'Secondary education'},
   {'code': 'BS', 'name': 'Public administration- Other social services'},
   {'code': 'ET', 'name': 'Tertiary education'}],
  'sectorcode': 'ET,BS,ES,EP',
  'source': 'IBRD',
  'status': 'Active',
  'supplementprojectflg': 'N',
  'theme1': {'Name': 'Education for all', 'Percent': 100},
  'theme_namecode': [{'code': '65', 'name': 'Education for all'}],
  'themecode': '65',
  'totalamt': 130000000,
  'totalcommamt': 130000000,
  'url': 'http://www.worldbank.org/projects/P129828/ethiopia-general-education-quality-improvement-project-ii?lang=en'},
 {'_id': {'$oid': '52b213b38594d8a2be17c781'},
  'approvalfy': 2015,
  'board_approval_month': 'November',
  'boardapprovaldate': '2013-11-04T00:00:00Z',
  'borrower': 'GOVERNMENT OF TUNISIA',
  'country_namecode': 'Republic of Tunisia!$!TN',
  'countrycode': 'TN',
  'countryname': 'Republic of Tunisia',
  'countryshortname': 'Tunisia',
  'docty': 'Project Information Document,Integrated Safeguards Data Sheet,Integrated Safeguards Data Sheet,Project Information Document,Integrated Safeguards Data Sheet,Project Information Document',
  'envassesmentcategorycode': 'C',
  'grantamt': 4700000,
  'ibrdcommamt': 0,
  'id': 'P144674',
  'idacommamt': 0,
  'impagency': 'MINISTRY OF FINANCE',
  'lendinginstr': 'Specific Investment Loan',
  'lendinginstrtype': 'IN',
  'lendprojectcost': 5700000,
  'majorsector_percent': [{'Name': 'Public Administration, Law, and Justice',
    'Percent': 70},
   {'Name': 'Public Administration, Law, and Justice', 'Percent': 30}],
  'mjsector_namecode': [{'code': 'BX',
    'name': 'Public Administration, Law, and Justice'},
   {'code': 'BX', 'name': 'Public Administration, Law, and Justice'}],
  'mjtheme': ['Economic management', 'Social protection and risk management'],
  'mjtheme_namecode': [{'code': '1', 'name': 'Economic management'},
   {'code': '6', 'name': 'Social protection and risk management'}],
  'mjthemecode': '1,6',
  'prodline': 'RE',
  'prodlinetext': 'Recipient Executed Activities',
  'productlinetype': 'L',
  'project_name': 'TN: DTF Social Protection Reforms Support',
  'projectdocs': [{'DocDate': '29-MAR-2013',
    'DocType': 'PID',
    'DocTypeDesc': 'Project Information Document (PID),  Vol.1 of 1',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000333037_20131024115616',
    'EntityID': '000333037_20131024115616'},
   {'DocDate': '29-MAR-2013',
    'DocType': 'ISDS',
    'DocTypeDesc': 'Integrated Safeguards Data Sheet (ISDS),  Vol.1 of 1',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000356161_20131024151611',
    'EntityID': '000356161_20131024151611'},
   {'DocDate': '29-MAR-2013',
    'DocType': 'ISDS',
    'DocTypeDesc': 'Integrated Safeguards Data Sheet (ISDS),  Vol.1 of 1',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000442464_20131031112136',
    'EntityID': '000442464_20131031112136'},
   {'DocDate': '29-MAR-2013',
    'DocType': 'PID',
    'DocTypeDesc': 'Project Information Document (PID),  Vol.1 of 1',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000333037_20131031105716',
    'EntityID': '000333037_20131031105716'},
   {'DocDate': '16-JAN-2013',
    'DocType': 'ISDS',
    'DocTypeDesc': 'Integrated Safeguards Data Sheet (ISDS),  Vol.1 of 1',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000356161_20130305113209',
    'EntityID': '000356161_20130305113209'},
   {'DocDate': '16-JAN-2013',
    'DocType': 'PID',
    'DocTypeDesc': 'Project Information Document (PID),  Vol.1 of 1',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000356161_20130305113716',
    'EntityID': '000356161_20130305113716'}],
  'projectfinancialtype': 'OTHER',
  'projectstatusdisplay': 'Active',
  'regionname': 'Middle East and North Africa',
  'sector': [{'Name': 'Public administration- Other social services'},
   {'Name': 'General public administration sector'}],
  'sector1': {'Name': 'Public administration- Other social services',
   'Percent': 70},
  'sector2': {'Name': 'General public administration sector', 'Percent': 30},
  'sector_namecode': [{'code': 'BS',
    'name': 'Public administration- Other social services'},
   {'code': 'BZ', 'name': 'General public administration sector'}],
  'sectorcode': 'BZ,BS',
  'source': 'IBRD',
  'status': 'Active',
  'supplementprojectflg': 'N',
  'theme1': {'Name': 'Other economic management', 'Percent': 30},
  'theme_namecode': [{'code': '24', 'name': 'Other economic management'},
   {'code': '54', 'name': 'Social safety nets'}],
  'themecode': '54,24',
  'totalamt': 0,
  'totalcommamt': 4700000,
  'url': 'http://www.worldbank.org/projects/P144674?lang=en'}]

In [7]:
# load as Pandas dataframe
sample_json_df = pd.read_json('data/world_bank_projects_less.json')
sample_json_df

,_id,approvalfy,board_approval_month,boardapprovaldate,borrower,closingdate,country_namecode,countrycode,countryname,countryshortname,...,sectorcode,source,status,supplementprojectflg,theme1,theme_namecode,themecode,totalamt,totalcommamt,url
0,{'$oid': '52b213b38594d8a2be17c780'},1999,November,2013-11-12T00:00:00Z,FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA,2018-07-07T00:00:00Z,Federal Democratic Republic of Ethiopia!$!ET,ET,Federal Democratic Republic of Ethiopia,Ethiopia,...,"ET,BS,ES,EP",IBRD,Active,N,"{'Name': 'Education for all', 'Percent': 100}","[{'name': 'Education for all', 'code': '65'}]",65,130000000,130000000,http://www.worldbank.org/projects/P129828/ethi...
1,{'$oid': '52b213b38594d8a2be17c781'},2015,November,2013-11-04T00:00:00Z,GOVERNMENT OF TUNISIA,NaN,Republic of Tunisia!$!TN,TN,Republic of Tunisia,Tunisia,...,"BZ,BS",IBRD,Active,N,"{'Name': 'Other economic management', 'Percent...","[{'name': 'Other economic management', 'code':...","54,24",0,4700000,http://www.worldbank.org/projects/P144674?lang=en

****
## JSON exercise

Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,
1. Find the 10 countries with most projects
2. Find the top 10 major project themes (using column 'mjtheme_namecode')
3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [8]:
world_bank_df = pd.read_json('data/world_bank_projects.json')
world_bank_df.head()

,_id,approvalfy,board_approval_month,boardapprovaldate,borrower,closingdate,country_namecode,countrycode,countryname,countryshortname,...,sectorcode,source,status,supplementprojectflg,theme1,theme_namecode,themecode,totalamt,totalcommamt,url
0,{'$oid': '52b213b38594d8a2be17c780'},1999,November,2013-11-12T00:00:00Z,FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA,2018-07-07T00:00:00Z,Federal Democratic Republic of Ethiopia!$!ET,ET,Federal Democratic Republic of Ethiopia,Ethiopia,...,"ET,BS,ES,EP",IBRD,Active,N,"{'Percent': 100, 'Name': 'Education for all'}","[{'code': '65', 'name': 'Education for all'}]",65,130000000,130000000,http://www.worldbank.org/projects/P129828/ethi...
1,{'$oid': '52b213b38594d8a2be17c781'},2015,November,2013-11-04T00:00:00Z,GOVERNMENT OF TUNISIA,NaN,Republic of Tunisia!$!TN,TN,Republic of Tunisia,Tunisia,...,"BZ,BS",IBRD,Active,N,"{'Percent': 30, 'Name': 'Other economic manage...","[{'code': '24', 'name': 'Other economic manage...","54,24",0,4700000,http://www.worldbank.org/projects/P144674?lang=en
2,{'$oid': '52b213b38594d8a2be17c782'},2014,November,2013-11-01T00:00:00Z,MINISTRY OF FINANCE AND ECONOMIC DEVEL,NaN,Tuvalu!$!TV,TV,Tuvalu,Tuvalu,...,TI,IBRD,Active,Y,"{'Percent': 46, 'Name': 'Regional integration'}","[{'code': '47', 'name': 'Regional integration'...","52,81,25,47",6060000,6060000,http://www.worldbank.org/projects/P145310?lang=en
3,{'$oid': '52b213b38594d8a2be17c783'},2014,October,2013-10-31T00:00:00Z,MIN. OF PLANNING AND INT'L COOPERATION,NaN,Republic of Yemen!$!RY,RY,Republic of Yemen,"Yemen, Republic of",...,JB,IBRD,Active,N,"{'Percent': 50, 'Name': 'Participation and civ...","[{'code': '57', 'name': 'Participation and civ...","59,57",0,1500000,http://www.worldbank.org/projects/P144665?lang=en
4,{'$oid': '52b213b38594d8a2be17c784'},2014,October,2013-10-31T00:00:00Z,MINISTRY OF FINANCE,2019-04-30T00:00:00Z,Kingdom of Lesotho!$!LS,LS,Kingdom of Lesotho,Lesotho,...,"FH,YW,YZ",IBRD,Active,N,"{'Percent': 30, 'Name': 'Export development an...","[{'code': '45', 'name': 'Export development an...","41,45",13100000,13100000,http://www.worldbank.org/projects/P144933/seco...

In [9]:
world_bank_df.shape

(500, 50)

In [45]:
#world_bank_df.info()

In [11]:
#world_bank_df.groupby(by =['countryname'])['project_name'].count()
world_bank_df.groupby(by =['countryname'])['project_name'].count().reset_index(name='count').sort_values(['count'], ascending=False).head(10)

                         countryname  count
39        People's Republic of China     19
64             Republic of Indonesia     19
107    Socialist Republic of Vietnam     17
63                 Republic of India     16
97                 Republic of Yemen     13
38   People's Republic of Bangladesh     12
34                             Nepal     12
25                Kingdom of Morocco     12
76            Republic of Mozambique     11
0                             Africa     11

In [47]:
#world_bank_df['mjtheme_namecode'][:3]

In [49]:
world_bank_df['mjtheme_namecode']

0      [{'code': '8', 'name': 'Human development'}, {...
1      [{'code': '1', 'name': 'Economic management'},...
2      [{'code': '5', 'name': 'Trade and integration'...
3      [{'code': '7', 'name': 'Social dev/gender/incl...
4      [{'code': '5', 'name': 'Trade and integration'...
5      [{'code': '6', 'name': 'Social protection and ...
6      [{'code': '2', 'name': 'Public sector governan...
7      [{'code': '11', 'name': 'Environment and natur...
8      [{'code': '10', 'name': 'Rural development'}, ...
9      [{'code': '2', 'name': 'Public sector governan...
10     [{'code': '10', 'name': 'Rural development'}, ...
11     [{'code': '10', 'name': 'Rural development'}, ...
12                           [{'code': '4', 'name': ''}]
13     [{'code': '5', 'name': 'Trade and integration'...
14     [{'code': '6', 'name': 'Social protection and ...
15     [{'code': '10', 'name': 'Rural development'}, ...
16     [{'code': '10', 'name': 'Rural development'}, ...
17     [{'code': '8', 'name': 'Human development'}, {...
18     [{'code': '8', 'name': 'Human development'}, {...
19     [{'code': '2', 'name': 'Public sector governan...
20     [{'code': '7', 'name': 'Social dev/gender/incl...
21     [{'code': '9', 'name': 'Urban development'}, {...
22     [{'code': '7', 'name': 'Social dev/gender/incl...
23     [{'code': '8', 'name': 'Human development'}, {...
24     [{'code': '10', 'name': 'Rural development'}, ...
25     [{'code': '11', 'name': 'Environment and natur...
26     [{'code': '4', 'name': 'Financial and private ...
27     [{'code': '11', 'name': 'Environment and natur...
28     [{'code': '10', 'name': 'Rural development'}, ...
29     [{'code': '7', 'name': 'Social dev/gender/incl...
                             ...
470    [{'code': '5', 'name': 'Trade and integration'...
471    [{'code': '10', 'name': 'Rural development'}, ...
472    [{'code': '11', 'name': 'Environment and natur...
473    [{'code': '11', 'name': 'Environment and natur...
474    [{'code': '9', 'name': 'Urban development'}, {...
475    [{'code': '4', 'name': 'Financial and private ...
476    [{'code': '10', 'name': 'Rural development'}, ...
477    [{'code': '4', 'name': 'Financial and private ...
478    [{'code': '2', 'name': 'Public sector governan...
479    [{'code': '7', 'name': 'Social dev/gender/incl...
480    [{'code': '2', 'name': 'Public sector governan...
481    [{'code': '8', 'name': 'Human development'}, {...
482    [{'code': '10', 'name': 'Rural development'}, ...
483    [{'code': '11', 'name': 'Environment and natur...
484    [{'code': '10', 'name': 'Rural development'}, ...
485    [{'code': '8', 'name': 'Human development'}, {...
486    [{'code': '2', 'name': 'Public sector governan...
487    [{'code': '11', 'name': 'Environment and natur...
488    [{'code': '8', 'name': 'Human development'}, {...
489    [{'code': '9', 'name': 'Urban development'}, {...
490    [{'code': '2', 'name': 'Public sector governan...
491    [{'code': '10', 'name': 'Rural development'}, ...
492    [{'code': '8', 'name': 'Human development'}, {...
493    [{'code': '11', 'name': 'Environment and natur...
494    [{'code': '6', 'name': 'Social protection and ...
495    [{'code': '4', 'name': 'Financial and private ...
496    [{'code': '8', 'name': 'Human development'}, {...
497    [{'code': '10', 'name': 'Rural development'}, ...
498    [{'code': '10', 'name': 'Rural development'}, ...
499    [{'code': '9', 'name': 'Urban development'}, {...
Name: mjtheme_namecode, Length: 500, dtype: object

#### Converting the list of dictionaries of theme names to a new dataframe

In [51]:
newdf = pd.DataFrame([x for x in world_bank_df['mjtheme_namecode']])
newdf

,0,1,2,3,4
0,"{'code': '8', 'name': 'Human development'}","{'code': '11', 'name': ''}",None,None,None
1,"{'code': '1', 'name': 'Economic management'}","{'code': '6', 'name': 'Social protection and r...",None,None,None
2,"{'code': '5', 'name': 'Trade and integration'}","{'code': '2', 'name': 'Public sector governance'}","{'code': '11', 'name': 'Environment and natura...","{'code': '6', 'name': 'Social protection and r...",None
3,"{'code': '7', 'name': 'Social dev/gender/inclu...","{'code': '7', 'name': 'Social dev/gender/inclu...",None,None,None
4,"{'code': '5', 'name': 'Trade and integration'}","{'code': '4', 'name': 'Financial and private s...",None,None,None
5,"{'code': '6', 'name': 'Social protection and r...","{'code': '6', 'name': ''}",None,None,None
6,"{'code': '2', 'name': 'Public sector governance'}","{'code': '4', 'name': 'Financial and private s...",None,None,None
7,"{'code': '11', 'name': 'Environment and natura...","{'code': '8', 'name': ''}",None,None,None
8,"{'code': '10', 'name': 'Rural development'}","{'code': '7', 'name': ''}",None,None,None
9,"{'code': '2', 'name': 'Public sector governance'}","{'code': '2', 'name': 'Public sector governance'}","{'code': '2', 'name': 'Public sector governance'}",None,None
10,"{'code': '10', 'name': 'Rural development'}","{'code': '2', 'name': ''}",None,None,None
11,"{'code': '10', 'name': 'Rural development'}","{'code': '6', 'name': 'Social protection and r...","{'code': '6', 'name': 'Social protection and r...","{'code': '11', 'name': 'Environment and natura...",None
12,"{'code': '4', 'name': ''}",None,None,None,None
13,"{'code': '5', 'name': 'Trade and integration'}","{'code': '11', 'name': 'Environment and natura...","{'code': '10', 'name': 'Rural development'}",None,None
14,"{'code': '6', 'name': 'Social protection and r...","{'code': '6', 'name': 'Social protection and r...","{'code': '6', 'name': 'Social protection and r...",None,None
15,"{'code': '10', 'name': 'Rural development'}","{'code': '11', 'name': 'Environment and natura...","{'code': '5', 'name': 'Trade and integration'}",None,None
16,"{'code': '10', 'name': 'Rural development'}","{'code': '2', 'name': ''}",None,None,None
17,"{'code': '8', 'name': 'Human development'}","{'code': '7', 'name': ''}",None,None,None
18,"{'code': '8', 'name': 'Human development'}","{'code': '8', 'name': 'Human development'}","{'code': '2', 'name': 'Public sector governance'}","{'code': '7', 'name': 'Social dev/gender/inclu...","{'code': '8', 'name': 'Human development'}"
19,"{'code': '2', 'name': 'Public sector governance'}","{'code': '2', 'name': 'Public sector governance'}","{'code': '2', 'name': 'Public sector governance'}",None,None
20,"{'code': '7', 'name': 'Social dev/gender/inclu...","{'code': '7', 'name': 'Social dev/gender/inclu...",None,None,None
21,"{'code': '9', 'name': 'Urban development'}","{'code': '7', 'name': 'Social dev/gender/inclu...",None,None,None
22,"{'code': '7', 'name': 'Social dev/gender/inclu...","{'code': '7', 'name': 'Social dev/gender/inclu...",None,None,None
23,"{'code': '8', 'name': 'Human development'}","{'code': '8', 'name': 'Human development'}",None,None,None
24,"{'code': '10', 'name': 'Rural development'}","{'code': '10', 'name': 'Rural development'}","{'code': '10', 'name': 'Rural development'}","{'code': '6', 'name': 'Social protection and r...",None
25,"{'code': '11', 'name': 'Environment and natura...","{'code': '11', 'name': 'Environment and natura...","{'code': '11', 'name': 'Environment and natura...",None,None
26,"{'code': '4', 'name': 'Financial and private s...","{'code': '5', 'name': 'Trade and integration'}","{'code': '2', 'name': 'Public sector governance'}","{'code': '8', 'name': 'Human development'}",None
27,"{'code': '11', 'name': 'Environment and natura...","{'code': '2', 'name': 'Public sector governance'}","{'code': '5', 'name': 'Trade and integration'}","{'code': '6', 'name': 'Social protection and r...",None
28,"{'code': '10', 'name': 'Rural development'}","{'code': '10', 'name': 'Rural development'}","{'code': '7', 'name': 'Social dev/gender/inclu...",None,None
29,"{'code': '7', 'name': 'Social dev/gender/inclu...","{'code': '11', 'name': 'Environment and natura...",None,None,None
...,...,...,...,...,...
470,"{'code': '5', 'name': 'Trade and integration'}","{'code': '10', 'name': 'Rural development'}",None,None,None
471,"{'code': '10', 'name': 'Rural development'}","{'code': '7', 'name': 'Social dev/gender/inclu...","{'code': '11', 'name': 'Environment and natura...","{'code': '7', 'name': 'Social dev/gender/inclu...",None
472,"{'code': '11', 'name': 'Environment and natura...","{'code': '11', 'name': ''}",None,None,None
473,"{'code': '11', 'name': 'Environment and natura...","{'code': '4', 'name': ''}",None,None,None
474,"{'code': '9', 'name': 'Urban development'}","{'code': '9', 'name': 'Urban development'}",None,None,None
475,"{'code': '4', 'name': 'Financial and private s...","{'code': '9', 'name': 'Urban development'}",None,None,None
476,"{'code': '10', 'name': 'Rural development'}","{'code': '8', 'name': ''}",None,None,None
477,"{'code': '4', 'name': 'Financial and private s...","{'code': '10', 'name': 'Rural development'}",None,None,None
478,"{'code': '2', 'name': 'Public sector governance'}","{'code': '3', 'name': 'Rule of law'}","{'code': '11', 'name': 'Environment and natura...",None,None
479,"{'code': '7', 'name': 'Social dev/gender/inclu...","{'code': '1', 'name': ''}",None,None,None
480,"{'code': '2', 'name': 'Public sector governance'}","{'code': '11', 'name': ''}",None,None,None
481,"{'code': '8', 'name': 'Human development'}","{'code': '7', 'name': 'Social dev/gender/inclu...","{'code': '7', 'name': 'Social dev/gender/inclu...","{'code': '8', 'name': 'Human development'}",None
482,"{'code': '10', 'name': 'Rural development'}","{'code': '11', 'name': 'Environment and natura...","{'code': '11', 'name': 'Environment and natura...","{'code': '10', 'name': 'Rural development'}",None
483,"{'code': '11', 'name': 'Environment and natura...","{'code': '11', 'name': 'Environment and natura...","{'code': '10', 'name': 'Rural development'}","{'code': '11', 'name': 'Environment and natura...",None
484,"{'code': '10', 'name': 'Rural development'}","{'code': '4', 'name': 'Financial and private s...","{'code': '7', 'name': 'Social dev/gender/inclu...","{'code': '10', 'name': 'Rural development'}",None
485,"{'code': '8', 'name': 'Human development'}","{'code': '4', 'name': ''}",None,None,None
486,"{'code': '2', 'name': 'Public sector governance'}","{'code': '6', 'name': 'Social protection and r...","{'code': '6', 'name': 'Social protection and r...","{'code': '6', 'name': 'Social protection and r...",None
487,"{'code': '11', 'name': 'Environment and natura...","{'code': '10', 'name': 'Rural development'}","{'code': '10', 'name': 'Rural development'}","{'code': '11', 'name': 'Environment and natura...",None
488,"{'code': '8', 'name': 'Human development'}","{'code': '2', 'name': 'Public sector governance'}","{'code': '2', 'name': 'Public sector governance'}","{'code': '8', 'name': 'Human development'}",None
489,"{'code': '9', 'name': 'Urban development'}","{'code': '6', 'name': 'Social protection and r...","{'code': '6', 'name': 'Social protection and r...","{'code': '9', 'name': 'Urban development'}",None
490,"{'code': '2', 'name': 'Public sector governance'}","{'code': '2', 'name': 'Public sector governance'}",None,None,None
491,"{'code': '10', 'name': 'Rural development'}","{'code': '11', 'name': ''}",None,None,None
492,"{'code': '8', 'name': 'Human development'}","{'code': '7', 'name': 'Social dev/gender/inclu...",None,None,None
493,"{'code': '11', 'name': 'Environment and natura...","{'code': '5', 'name': ''}",None,None,None
494,"{'code': '6', 'name': 'Social protection and r...","{'code': '8', 'name': ''}",None,None,None
495,"{'code': '4', 'name': 'Financial and private s...","{'code': '7', 'name': 'Social dev/gender/inclu...",None,None,None
496,"{'code': '8', 'name': 'Human development'}","{'code': '5', 'name': 'Trade and integration'}","{'code': '2', 'name': 'Public sector governance'}","{'code': '8', 'name': 'Human development'}",None
497,"{'code': '10', 'name': 'Rural development'}","{'code': '6', 'name': ''}",None,None,None
498,"{'code': '10', 'name': 'Rural development'}","{'code': '10', 'name': 'Rural development'}","{'code': '10', 'name': 'Rural development'}",None,None
499,"{'code': '9', 'name': 'Urban development'}","{'code': '8', 'name': 'Human development'}","{'code': '5', 'name': 'Trade and integration'}","{'code': '4', 'name': 'Financial and private s...",None

#### Merging all columns to a new series

In [16]:
combineddf = pd.DataFrame
combineddf = pd.concat([newdf[0], newdf[1], newdf[2], newdf[3], newdf[4]])
combineddf = pd.DataFrame(combineddf).reset_index()
combineddf.insert(0, 'id', range(1, 1 + len(combineddf)))
combineddf.drop('index',axis = 1, inplace = True)
combineddf.columns = ['index', 'theme']
combineddf

      index                                              theme
0         1         {'code': '8', 'name': 'Human development'}
1         2       {'code': '1', 'name': 'Economic management'}
2         3     {'code': '5', 'name': 'Trade and integration'}
3         4  {'code': '7', 'name': 'Social dev/gender/inclu...
4         5     {'code': '5', 'name': 'Trade and integration'}
5         6  {'code': '6', 'name': 'Social protection and r...
6         7  {'code': '2', 'name': 'Public sector governance'}
7         8  {'code': '11', 'name': 'Environment and natura...
8         9        {'code': '10', 'name': 'Rural development'}
9        10  {'code': '2', 'name': 'Public sector governance'}
10       11        {'code': '10', 'name': 'Rural development'}
11       12        {'code': '10', 'name': 'Rural development'}
12       13                          {'code': '4', 'name': ''}
13       14     {'code': '5', 'name': 'Trade and integration'}
14       15  {'code': '6', 'name': 'Social protection and r...
15       16        {'code': '10', 'name': 'Rural development'}
16       17        {'code': '10', 'name': 'Rural development'}
17       18         {'code': '8', 'name': 'Human development'}
18       19         {'code': '8', 'name': 'Human development'}
19       20  {'code': '2', 'name': 'Public sector governance'}
20       21  {'code': '7', 'name': 'Social dev/gender/inclu...
21       22         {'code': '9', 'name': 'Urban development'}
22       23  {'code': '7', 'name': 'Social dev/gender/inclu...
23       24         {'code': '8', 'name': 'Human development'}
24       25        {'code': '10', 'name': 'Rural development'}
25       26  {'code': '11', 'name': 'Environment and natura...
26       27  {'code': '4', 'name': 'Financial and private s...
27       28  {'code': '11', 'name': 'Environment and natura...
28       29        {'code': '10', 'name': 'Rural development'}
29       30  {'code': '7', 'name': 'Social dev/gender/inclu...
...     ...                                                ...
2470   2471                                               None
2471   2472                                               None
2472   2473                                               None
2473   2474                                               None
2474   2475                                               None
2475   2476                                               None
2476   2477                                               None
2477   2478                                               None
2478   2479                                               None
2479   2480                                               None
2480   2481                                               None
2481   2482                                               None
2482   2483                                               None
2483   2484                                               None
2484   2485                                               None
2485   2486                                               None
2486   2487                                               None
2487   2488                                               None
2488   2489                                               None
2489   2490                                               None
2490   2491                                               None
2491   2492                                               None
2492   2493                                               None
2493   2494                                               None
2494   2495                                               None
2495   2496                                               None
2496   2497                                               None
2497   2498                                               None
2498   2499                                               None
2499   2500                                               None

[2500 rows x 2 columns]

#### Conveting the series to a new data frame with columns index, theme code and theme name

In [62]:
theme_df = pd.concat([combineddf['index'], combineddf['theme'].apply(pd.Series)], axis=1)
theme_df

      index code                                          name
0         1    8                             Human development
1         2    1                           Economic management
2         3    5                         Trade and integration
3         4    7                   Social dev/gender/inclusion
4         5    5                         Trade and integration
5         6    6         Social protection and risk management
6         7    2                      Public sector governance
7         8   11  Environment and natural resources management
8         9   10                             Rural development
9        10    2                      Public sector governance
10       11   10                             Rural development
11       12   10                             Rural development
12       13    4
13       14    5                         Trade and integration
14       15    6         Social protection and risk management
15       16   10                             Rural development
16       17   10                             Rural development
17       18    8                             Human development
18       19    8                             Human development
19       20    2                      Public sector governance
20       21    7                   Social dev/gender/inclusion
21       22    9                             Urban development
22       23    7                   Social dev/gender/inclusion
23       24    8                             Human development
24       25   10                             Rural development
25       26   11  Environment and natural resources management
26       27    4      Financial and private sector development
27       28   11  Environment and natural resources management
28       29   10                             Rural development
29       30    7                   Social dev/gender/inclusion
...     ...  ...                                           ...
2470   2471  NaN                                           NaN
2471   2472  NaN                                           NaN
2472   2473  NaN                                           NaN
2473   2474  NaN                                           NaN
2474   2475  NaN                                           NaN
2475   2476  NaN                                           NaN
2476   2477  NaN                                           NaN
2477   2478  NaN                                           NaN
2478   2479  NaN                                           NaN
2479   2480  NaN                                           NaN
2480   2481  NaN                                           NaN
2481   2482  NaN                                           NaN
2482   2483  NaN                                           NaN
2483   2484  NaN                                           NaN
2484   2485  NaN                                           NaN
2485   2486  NaN                                           NaN
2486   2487  NaN                                           NaN
2487   2488  NaN                                           NaN
2488   2489  NaN                                           NaN
2489   2490  NaN                                           NaN
2490   2491  NaN                                           NaN
2491   2492  NaN                                           NaN
2492   2493  NaN                                           NaN
2493   2494  NaN                                           NaN
2494   2495  NaN                                           NaN
2495   2496  NaN                                           NaN
2496   2497  NaN                                           NaN
2497   2498  NaN                                           NaN
2498   2499  NaN                                           NaN
2499   2500  NaN                                           NaN

[2500 rows x 3 columns]

#### Replace empty names with Nan

In [63]:
theme_df['name'].replace('', np.nan, inplace=True)
theme_df

      index code                                          name
0         1    8                             Human development
1         2    1                           Economic management
2         3    5                         Trade and integration
3         4    7                   Social dev/gender/inclusion
4         5    5                         Trade and integration
5         6    6         Social protection and risk management
6         7    2                      Public sector governance
7         8   11  Environment and natural resources management
8         9   10                             Rural development
9        10    2                      Public sector governance
10       11   10                             Rural development
11       12   10                             Rural development
12       13    4                                           NaN
13       14    5                         Trade and integration
14       15    6         Social protection and risk management
15       16   10                             Rural development
16       17   10                             Rural development
17       18    8                             Human development
18       19    8                             Human development
19       20    2                      Public sector governance
20       21    7                   Social dev/gender/inclusion
21       22    9                             Urban development
22       23    7                   Social dev/gender/inclusion
23       24    8                             Human development
24       25   10                             Rural development
25       26   11  Environment and natural resources management
26       27    4      Financial and private sector development
27       28   11  Environment and natural resources management
28       29   10                             Rural development
29       30    7                   Social dev/gender/inclusion
...     ...  ...                                           ...
2470   2471  NaN                                           NaN
2471   2472  NaN                                           NaN
2472   2473  NaN                                           NaN
2473   2474  NaN                                           NaN
2474   2475  NaN                                           NaN
2475   2476  NaN                                           NaN
2476   2477  NaN                                           NaN
2477   2478  NaN                                           NaN
2478   2479  NaN                                           NaN
2479   2480  NaN                                           NaN
2480   2481  NaN                                           NaN
2481   2482  NaN                                           NaN
2482   2483  NaN                                           NaN
2483   2484  NaN                                           NaN
2484   2485  NaN                                           NaN
2485   2486  NaN                                           NaN
2486   2487  NaN                                           NaN
2487   2488  NaN                                           NaN
2488   2489  NaN                                           NaN
2489   2490  NaN                                           NaN
2490   2491  NaN                                           NaN
2491   2492  NaN                                           NaN
2492   2493  NaN                                           NaN
2493   2494  NaN                                           NaN
2494   2495  NaN                                           NaN
2495   2496  NaN                                           NaN
2496   2497  NaN                                           NaN
2497   2498  NaN                                           NaN
2498   2499  NaN                                           NaN
2499   2500  NaN                                           NaN

[2500 rows x 3 columns]

### Find the top 10 major project themes (using column 'mjtheme_namecode')

In [64]:
theme_df.groupby(by =['name'])['code'].count().reset_index(name='count').sort_values(['count'], ascending=False).head(10)

                                            name  count
1   Environment and natural resources management    223
6                              Rural development    202
3                              Human development    197
4                       Public sector governance    184
8          Social protection and risk management    158
2       Financial and private sector development    130
7                    Social dev/gender/inclusion    119
9                          Trade and integration     72
10                             Urban development     47
0                            Economic management     33

### In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

#### replace all the missing name column with NA

In [65]:
theme_df['name'].replace('', np.nan, inplace=True)

#### forward fill all the missing name columns

In [66]:
#newdf['name'].replace('', np.nan, inplace=True)
theme_df = theme_df.fillna(method='ffill')

#### Top 10 themes after forward fill

In [67]:
theme_df.groupby(by =['name'])['code'].count().reset_index(name='count').sort_values(['count'], ascending=False).head(10)

                                            name  count
6                              Rural development    382
3                              Human development    379
1   Environment and natural resources management    378
4                       Public sector governance    325
8          Social protection and risk management    312
2       Financial and private sector development    236
7                    Social dev/gender/inclusion    181
9                          Trade and integration    121
10                             Urban development     74
0                            Economic management     61